
body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
ol{
    overflow-y: scroll;
    height: 360px;
    margin: 0;
}
ol li div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 270px;
}
.sb, .reset{
    height: 60px;
    width: 200px;
    border-radius: 15px;
    font-size: 2em;
    border: transparent;
    display: inline-block;
    z-index: 1000;
}
#notice{
    margin: 0;
    background-color: wheat;
    color: black;
    display: block;
}
#spacing{
    min-height: 70px;
}
.sb:hover, .reset:hover, #levelup:hover{
    background-color: grey;
    color: white;
}
#cs{
    position: absolute;
    height: 280px;
    width: 260px;
    transform: translate(146%,-160%);
    z-index:999;
}
h4{
    margin: 0;
    font-size: 1.4em;
}
#setup1 h1{
    font-size: 4.5em;
    margin: 0;
    font-weight: 1000;
    text-shadow:grey 3px 2px;
    text-align: center;
}
#setup2{
    display: none;
}
#setup3{
    display: none;
}
#setup3 h1{
    font-size: 4em;
    margin: 0;
    font-weight: 1000;
    text-shadow:grey 3px 2px;
    text-align: center;
    display:block
}
.score{
    float: right;
}
ol li div span{
    min-width:75px ;
    height: 30px;
    overflow-y: hidden;
}
#gameScreen{
    display:inline-block;
    border-collapse: collapse;
    border: black 5px solid;
    height: 540px;
    width: 270px;
    overflow-y: hidden;
    text-align: center;
    margin: 0;
    margin-right:10px ;
}
.empty{
    height: 27px;
    width: 27px;
    border: black 1px solid;
}
.row{
    border:none;
    display: block;
    width: 100%;
    display: flex;
    height: 26px;
    border-top: black solid 0.5px;
    border-collapse: collapse;
    position: sticky;

}
.row div{
    border: none;
    border-right: black solid 0.5px;
    display: inline-block;
    width: 27px;
    height: 27px;
    border-collapse: collapse;
}
#leftpannel{
    display: inline-block;
    min-width: 360px;
    padding: 10px;
    text-align: center;
}
#leftpannel h2{
    font-size: 2.1em;
    margin: 0;
    margin-bottom: 20px;
}
#head{
    list-style: none;
    position: fixed;
}
#namescore{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
#namescore p{
    margin: 0;
    font-size: 1.5em;
}
#rightpannel{
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    width: 100px;
    text-align: center;
}

#button{
    display: block;
    height: 100px;
    width: 100px;
    border: transparent;
    background-image:url(./Images/playbutton.png);
    background-size:130%;
    background-position: center;
    bottom:0;
}
#buttonDsiaply{
    height:100px;
    width: 100px;
}
#buttonDisplay div{
    height:24px;
    border:transparent 0.5px;
    display:flex;
}
#levelin{
    transform: translateX(10px);
    display: inline-block;
}
#levelup{
    float: right;
    display: inline-block;
    border-radius: 4px;
}
#Theme{
    /* display: none; */
}