
body{
    text-align: center;
}
#gameScreen{
    display:inline-block;
    border-collapse: collapse;
    border: black 5px solid;
    height: 540px;
    width: 270px;
    overflow-y: hidden;
    text-align: center;
    margin: 0;
}

#mainCharactor{
    display:inline-block;
    height: 80px;
    width: 80px;
    border: black solid 8px;
    position: absolute;
    top: 0;
}
.empty{
    height: 27px;
    width: 27px;
    border: black 1px solid;
}
.row{
    border:none;
    display: block;
    width: 100%;
    display: flex;
    height: 26px;
    border-top: black solid 0.5px;
    border-collapse: collapse;
    position: sticky;

}
.row div{
    border: none;
    border-right: black solid 0.5px;
    display: inline-block;
    width: 27px;
    height: 27px;
    border-collapse: collapse;
}
.filled{
    background-color: black;
}
#rightpannel{
    margin-left: 20px;
    position: absolute;
    display: inline-block;
    width: 100px;
}

#button{
    display: block;
    height: 100px;
    width: 100px;
    border: transparent;
    background-image:url(./Images/playbutton.png);
    background-size:130%;
    background-position: center;
    bottom:0;
}
#buttonDsiaply{
    height:100px;
    width: 100px;
}
#buttonDisplay div{
    height:24px;
    border:transparent 0.5px;
    display: flex;
}
#levelin{
    transform: translateX(10px);
    display: inline-block;
}
#levelup{
    float: right;
    display: inline-block;
}
#Theme{
    /* display: none; */
}