
body{
    justify-content: center;
    box-sizing: border-box;
    background-image: url(./Images/background2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: scroll;
    height: 100vh;
    overflow-y: hidden;
    min-width:951px;
    background-color: rgb(60,192,198);
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 12%;
    opacity: 80%;
    overflow-y: scroll;
    margin: 0;
    display: none;
}
#foot{
    color: white;
    width:100%;
    position: fixed;
    margin: 0;
    height: 25px;
    background: rgba(128, 128, 128,80%);
}
#arrow{
    display: inline-block;
    transform: rotate(180deg);
    font-weight: bolder;
}
#sbody{
    display: flex;
    height: 100vh;
    justify-content: center;
}
img{
    margin: 0;
}
button{
    background-color: #cccccc;
}
ol{
    overflow-y: scroll;
    height: 300px;
    margin: 0;
}
ol li div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
h3{
    margin: 0;
    text-align: left;
    font-size: 1.8em;
}
h3 span{
    font-size:25px;
    float: right;
}
#Tools{
    background:rgba(255, 255, 255, 30%);
}
#Tools div{
    display: flex;
    min-height: 30px;
}
#Tools div img{
    margin-right: 5px;
    height:30px;
    width:30px;
}
.button{
    height: 60px;
    width: 200px;
    border-radius: 15px;
    font-size: 2em;
    border: transparent;
    display: inline-block;
    z-index: 1000;
    margin-top:10px;
}
#spacing{
    min-height: 60px;
}
#wp{
    padding-top: 5px;
}
.tbutton{
    background-color:#cccccc;
    padding: 5px;
    border-radius: 4px;
}
.button:hover, #levelup:hover, .tbutton:hover, .active{
    background-color: grey;
    color: white;
}
#cs{
    background:rgba(255, 255, 255, 95%);
    position: absolute;
    height: 500px;
    width: 280px;
    transform: translate(10%,-120%);
    z-index:999;
    text-align: center;
    border-radius: 10px;
}
h4{
    margin: 0;
    font-size: 1.4em;
}
#setup1 h1{
    font-size: 4.5em;
    margin: 0;
    font-weight: 1000;
    text-shadow:grey 3px 2px;
    text-align: center;
}
#setup2{
    display: none;
    text-align: center;
}
#setup2 h1{
    font-size: 4em;
    margin: 0;
    font-weight: 1000;
    text-shadow:grey 3px 2px;
    text-align: center;
    display:block
}
#confit{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.sbutton{
    border-radius: 10px;
    font-size: 1.4em;
    height: 50px;
    width: 90px;
    border: transparent;
}
#yes{
    background-color:rgb(30, 209, 30);
    color: white;
}
#no:hover{
    background:red
}
#yes:hover{
    border:black 3px solid;
}
.reset{
    display: none;
}
.score{
    float: right;
}
ol li div span{
    min-width:75px ;
    height: 30px;
    overflow-y: hidden;
}
#gameScreen{
    background: rgba(255, 255, 255, 90%);
    display:inline-block;
    border-collapse: collapse;
    border: black 5px solid;
    height: 650px;
    width: 323px;
    overflow-y: hidden;
    text-align: center;
    margin: 0;
    margin-right:10px ;
    border-radius: 5px;
}
#hitbox{
    height: 650px;
    width: 323px;
    background:transparent;
    transform:translateY(-100%);
    z-index: 990;
}
.empty{
    height: 27px;
    width: 27px;
}
.row{
    border:none;
    display: block;
    width: 100%;
    display: flex;
    height: 27px;
    border-collapse: collapse;
    position: sticky;

}
.row div{
    border-right: grey solid 0.5px;
    border-bottom: grey solid 0.5px;
    display: inline-block;
    width: 27px;
    height: 27px;
    border-collapse: collapse;
}
#leftpannel{
    background: rgba(255, 255, 255, 80%);
    margin-right: 10px;
    display: inline-block;
    min-width: 340px;
    padding: 10px;
    height:640px;;
    border-radius: 10px;
    text-align: center;
}
#leftpannel h2{
    font-size: 2.1em;
    margin: 0;
    margin-bottom: 20px;
}
#head{
    list-style: none;
    position: fixed;
}
#namescore{
    margin: 0;
    display: flex;
    justify-content: right;
}
#namescore p{
    margin: 0;
    margin-right: 20px;
    font-size: 1.5em;
}
#rightpannel{
    background: rgba(255, 255, 255, 80%);
    margin-left: 5px;
    display: inline-block;
    width: 100px;
    height: 660px;
    padding-right:50px;
    padding-left:50px;
    text-align: center;
    border-radius: 10px;
}

#button{
    display: block;
    height: 135px;
    width: 135px;
    border: transparent;
    background-image:url(./Images/playbutton.png);
    background-size:100%;
    background-position: left;
    bottom:0;
}
#buttonDsiaply, #nutton{
    height:135px;
    width: 135px;
}
#buttonDisplay div, #nutton div{
    height:27px;
    border:transparent 0.5px;
    display:flex;
}
#levelin{
    transform: translateX(10px);
    display: inline-block;
}
#levelup{
    float: right;
    background-color: #cccccc;
    border-radius: 4px;
}